
<!-- Desktop Navbar -->
<section id="nav">
  <div class="nav-bar">
    <div class="links">
      <ul>
        <li><a href="#name" id="name">Vivek Kumar Singh</a></li>
        <li><a [routerLink]="['']">Home🏠</a></li>
        <li><a [routerLink]="['projects']">Projects</a></li>
        <li><a href="#about" id="about">About</a></li>
        <li><a href="#contact" id="contact">Contact</a></li>
      </ul>
    </div>
  </div>
</section>
<!-- End of Navbar -->
<!-- <router-outlet></router-outlet> -->
