<section id="projects">
    <div class="container-fluid">
        <div class="overlay"></div>
        <div class="image-container">
        <div class="project-header">
            Projects
        </div>
        <div class="project-details">
            <div class="LTI">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/ltidevops.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">LTI's Canvas DevOps</h5>
                      <p class="card-text">Integrating different DevOps tools on one platform making it convinient for the user</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
            </div>
            <div class="Deloitte">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/iqaas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Deloitte's iQAAS</h5>
                      <p class="card-text">A files upload UI for country team, so that they can upload csv files and we can validate them.</p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
</section>